<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Diversity.Hack</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand" href="#">
                        <i class="fas fa-piggy-bank"></i>
                        Waves.Escrow
                    </a>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">DEALS <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">TRANSACTIONS</a>
                        </li>
                    </ul>
                    <div class="my-2 my-lg-0">
                        <div class="nav-item">
                            <span class="text-light">{{ user.firstname }} {{ user.lastname }}  <img style="width: 42px; height: 42px; background: white; border-radius: 25px; margin: 0; padding: 0;" src="{{ url_for('static', filename='img/user2.png') }}"></span>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="jumbotron">
                        <h1 class="display-4">Операции</h1>
                        <div class="container">
                            <a href="/new">
                                <div class="deal">
                                    <span><i class="fa fa-plus"></i> создать новую</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <ul class="deals-list">
                        <li class="deal-item">
                            <div class="">
                                <h3 class="turned">В процессе</h3>
                                <div class="pending">
                                    Сделка 1<br>
                                    Покупка квартиры
                                </div>
                            </div>

                        </li>
                        {% for deal in deals %} 

                        <li class="deal-item">
                            <a href="/viewdeal/{{ deal.id }}">
                                <div class="">
                                    <h3 class="turned">В процессе</h3>
                                    <div class="pending">
                                        {{ deal.sender_name }}<br>
                                        {{ deal.amount }} 
                                    </div>
                                </div>
                            </a>


                        </li>

                        {% endfor %}
                        <li class="deal-item empty">
                            <div class="vertical">
                                пусто
                            </div>
                        </li>
                        <li class="deal-item empty">
                            <div class="vertical">
                                пусто
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script>
var deals = "";
        </script>
    </body>
</html>
