<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Diversity.Hack</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand" href="/">
                        <i class="fas fa-piggy-bank"></i>
                        Waves.Escrow
                    </a>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">DEALS <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">TRANSACTIONS</a>
                        </li>
                    </ul>
                    <div class="my-2 my-lg-0">
                        <div class="nav-item">
                            <span class="text-light">{{ user.firstname }} {{ user.lastname }}  <img style="width: 42px; height: 42px; background: white; border-radius: 25px; margin: 0; padding: 0;" src="{{ url_for('static', filename='img/user2.png') }}"></span>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <div class="container-fuild">
                <div class="jumbotron">
                    <form class="form" method="post" id="deal-form">
                        <p>
                            Сделка 1
                            <br>
                            Введите название...
                        </p>
                        <fieldset disabled>
                            <div class="form-group">
                                <textarea placeholder="Введите условия договора..." class="form-control _special" name="description">
                                {{ deal.description }}
                                </textarea>
                            </div>
                            <div class="form-row">
                                <div class="img_box">
                                    <img class="_img" src="{{ url_for('static', filename='img/coin.png') }}">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="text" name="amount" class="form-control _special" value="{{ deal.amount }}" placeholder="Введите сумму договора..." />
                                </div>


                            </div>
                            <div class="form-row">
                                <div class="img_box">
                                    <img class="_img" src="{{ url_for('static', filename='img/user2.png') }}">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="text" name="receiver" class="form-control _special" value="{{ deal.receiver }}" placeholder="Введите имя контрагента..." />
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="img_box">
                                    <img class="_img" src="{{ url_for('static', filename='img/clock-circular-outline.png') }}">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="text" name="deadline" class="form-control _special" value="{{ deal.deadline }}" placeholder="Установите дедлайн..." />
                                </div>

                            </div>
                        </fieldset>

                        <button type="submit" class="btn btn-primary" id="save">Согласовать</button>
                    </form>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script>
var dealId = '{{ deal.id }}';
var dealDeadline = '{{ deal.deadline }}';
var dealAmount = '{{ deal.amount }}';
var dealReceiver = '{{ deal.receiver }}';
        </script>
    </body>
</html>
